<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Edit employee <b>{{employee.firstName}} {{employee.lastName}}</b></h2>
    </div>
    <div class="panel-body">
        <ng-form name="employeeEditForm">
            <!--TODO#HR7-->
            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div ng-class="{'form-group': employeeEditForm.$valid, 'has-error':employeeEditForm.$invalid}">
                        <!--TODO#HR2-->
                        <label for="firstName">firstName:</label>
                        <input id="firstName" type="text" class="form-control" ng-model="employee.firstName" required>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div ng-class="{'form-group': employeeEditForm.$valid, 'has-error':employeeEditForm.$invalid}">
                        <!--TODO#HR2-->
                        <label for="lastName">lastName:</label>
                        <input id="lastName" type="text" class="form-control" ng-model="employee.lastName" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div ng-class="{'form-group': employeeEditForm.$valid, 'has-error':employeeEditForm.$invalid}">
                        <!--TODO#HR2-->
                        <label for="email">email:</label>
                        <input id="email" type="text" class="form-control" ng-model="employee.email" required>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div ng-class="{'form-group': employeeEditForm.$valid, 'has-error':employeeEditForm.$invalid}">
                        <!--TODO#HR2-->
                        <label for="phoneNumber">phoneNumber:</label>
                        <input id="phoneNumber" type="text" class="form-control" ng-model="employee.phoneNumber"
                               required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group"
                         ng-class="{ 'has-error': employeeEditForm.hireDate.$invalid && employeeEditForm.hireDate.$dirty }">
                        <label for="hireDate">Hire Date:</label>
                        <input type="text" id="hireDate" name="hireDate" class="form-control"
                               ng-model="employee.hireDate"
                               placeholder="Hire Date" ng-pattern="datePattern" required>

                        <span class="help-block" ng-show="employeeEditForm.hireDate.$error.required
                             && employeeEditForm.hireDate.$dirty">{{requiredErrorMessage}}</span>

                        <span class="help-block" ng-show="employeeEditForm.hireDate.$error.pattern
                             && employeeEditForm.hireDate.$dirty">{{patternDateNotRespectedMessage}}</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div ng-class="{'form-group': employeeEditForm.$valid, 'has-error':employeeEditForm.$invalid}">
                        <!--TODO#HR2-->
                        <label for="jobTitle">jobTitle:</label>
                        <select id="jobTitle" name="jobTitle"
                                ng-options="job.jobTitle for job in jobs track by job.jobId"
                                ng-model="employee.jobId" required></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div ng-class="{'form-group': employeeEditForm.$valid, 'has-error':employeeEditForm.$invalid}">
                        <!--TODO#HR2-->
                        <label for="salary">salary:</label>
                        <input id="salary" type="number" class="form-control" ng-model="employee.salary" required>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group"
                         ng-class="{ 'has-error': employeeEditForm.commissionPct.$invalid && employeeEditForm.commissionPct.$dirty }">
                        <label for="commissionPct">Commission:</label>
                        <input type="text" id="commissionPct" name="commissionPct" class="form-control"
                               ng-model="employee.commissionPct"
                               placeholder="Commission" ng-pattern="commissionPattern" required>
                         <span class="help-block" ng-show="employeeEditForm.commissionPct.$error.required
                             && employeeEditForm.commissionPct.$dirty">{{requiredErrorMessage}}</span>
                         <span class="help-block" ng-show="employeeEditForm.commissionPct.$error.pattern
                             && employeeEditForm.commissionPct.$dirty">{{patternCommisionNotRespectedMessage}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div ng-class="{'form-group': employeeEditForm.$valid, 'has-error':employeeEditForm.$invalid}">
                        <!--TODO#HR2-->
                        <label for="department">department:</label>
                        <select id="department" name="department"
                                ng-options="department.departmentName for department in departments track by department.departmentId"
                                ng-model="employee.departmentId" required></select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': employeeEditForm.manager.$invalid }">
                        <label for="manager">Manager:</label>
                        <select id="manager" ng-model="employee.managerId" name="manager" class="form-control" required
                                ng-options="manager.firstName+' '+ manager.lastName for manager in employees track by manager.employeeId">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-7">
                    <div class="container">
                        <!--TODO#HR4-->
                        <!--<a class="btn btn-primary btn-lg" role="button" ng-click="reset()">Reset</a>-->
                        <a class="btn btn-primary btn-lg" role="button" ng-click="create(employee)"
                           ng-disabled="employeeEditForm.firstName.$invalid || employeeEditForm.lastName.$invalid
                           || employeeEditForm.email.$invalid || employeeEditForm.phoneNumber.$invalid
                           || employeeEditForm.hireDate.$invalid || employeeEditForm.jobTitle.$invalid
                           || employeeEditForm.salary.$invalid || employeeEditForm.commissionPct.$invalid
                           || employeeEditForm.department.$invalid || employeeEditForm.manager.$invalid">Save</a>
                    </div>
                </div>
            </div>
        </ng-form>
    </div>
</div>